#search{
    border-radius: 1rem;
    margin-left: 2rem;
    
}
#limit{
    border-radius: 1rem;

}

#container{
    margin: 2rem;
}

.button{
    border-radius: 2rem; 
    padding:0.2rem;
}
h4{margin: 2rem;
    padding: 2rem;}
